information_theory_project/**
music_usage_data/**

temp for 1D/**
temp for 1.5D/**
temp for 2.5D/**
temp for 2D/**

with excess entropy/**
without excess entropy/**
temp/**
                        
2.5D, T from 1.0 to 4.0.csv
